<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/pc/_layouts/mainLayout}">


<th:block layout:fragment="content">
    테스트

    <div class="cont">
        <form id="searchForm" name="searchForm">
<!--            <input type="hidden" id="code" name="code" th:value="${code}">-->
<!--            <input type="hidden" id="no" name="no" th:value="${data.board.no}">-->
        </form>
    </div>

    <h1 th:text="'샘플 게시판 ' + ${data == null ? '등록' : '수정'}"></h1>
    <button id="saveBtn">저장</button>
    <button id="listBtn">목록</button>

    <h2>테이블 데이터 출력</h2>
    <table class="over-x">
	    <colgroup>
	        <col width="20%">
	        <col width="*">
	        <col width="20%">
	        <col width="*">
	    </colgroup>
	    <tbody id="tbody">
	    <tr>
	        <th>제목</th>
	        <td colspan="3"><input type="text" id="title" name="title" th:value="${data != null and data.title != null} ? ${data.title} : ''" /></td>
	    </tr>
	    <tr>
	        <th>내용</th>
	        <td colspan="3"><textarea rows="10" cols="100%" id="contents" name="contents" th:text="${data != null and data.contents != null} ? ${data.contents} : ''"></textarea></td>
	    </tr>
	    <tr>
	        <th>메인출력여부</th>
	        <td><input type="checkbox" id="mainPstYn" name="mainPstYn" th:checked="${data != null} ? ${#strings.equals(data.mainPstYn,'Y')} : false" /></td>
	        <th>공지여부</th>
	        <td><input type="checkbox" id="topYn" name="topYn" th:checked="${data != null} ? ${#strings.equals(data.topYn,'Y')} : false" /></td>
	    </tr>
	    </tbody>
	</table>

    <h2>관련 파일 업로드 및 출력</h2>
    <p th:text="'파일이 뿌려질 예정'"></p>

</th:block>

<th:block layout:fragment="scripts">
    <script type="text/javascript" src="/app/js/pc/sample/board/reg.js"></script>
</th:block>

</html>