<!DOCTYPE html>
<html lang="ko">
<head>
  <title>회원탈퇴 안내</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>

<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color:#555;">
  <tbody>
    <tr>
      <td align="center" style="padding:40px;">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center" style="border-collapse:collapse; font-family:'맑은 고딕','Malgun Gothic', arial; margin:0 auto;">
          <tbody>
            <tr>
              <td align="center">
                <table cellpadding="0" cellspacing="0" border="0" width="640" align="center" style="border-collapse:collapse; font-family:'맑은 고딕','Malgun Gothic', arial; margin:0 auto; background-color:#fff;" bgcolor="#fff">
                  <tbody>
                    <tr><td style="font-size:0; line-height:0;" height="70">&nbsp;</td></tr>
                    <tr>
                      <td style="padding-left:60px;"><img border="0" style="display:block;" src="http://hanwha-forena.crea-m.comimage/mailform/mail-logo.png" width="158" height="26" alt="FORENA" /></td>
                    </tr>
                    <tr><td style="font-size:0; line-height:0;" height="64">&nbsp;</td></tr>
                    <tr><td style="font-size:28px; font-weight:bold; color:#003057; text-align:center;">회원탈퇴 안내</td></tr>
                    <tr><td style="font-size:0; line-height:0;" height="19">&nbsp;</td></tr>
                    <tr>
                      <td style="font-size:16px; line-height:26px; color:#000; font-family:'맑은고딕','Malgun Gothic','Dotum',arial; letter-spacing:-0.05em; text-align:center;">
                        #name 고객님 안녕하세요.<br />
                        지금까지 저희 한화건설 포레나를 사랑해주셔서 감사합니다.<br />
                        회원 탈퇴가 정상적으로 처리되었으며,<br />
                        재사용 하시려면 새로 회원가입 하시기 바랍니다.
                      </td>
                    </tr>
                    <tr><td style="font-size:0; line-height:0;" height="55">&nbsp;</td></tr>
                     <tr>
                      <td align="center"><a href="http://#domain/"><img border="0" style="display:block;" src="http://hanwha-forena.crea-m.comimage/mailform/btn-hompage.png" width="320" height="60" alt="포레나 홈페이지" /></a></td>
                    </tr>
                    <tr><td style="font-size:0; line-height:0;" height="24">&nbsp;</td></tr>
                    <tr>
                      <td align="center" style="font-size:15px; line-height:26px; font-family:'맑은고딕','Malgun Gothic','Dotum',arial; color:#999; letter-spacing:-0.05em;">
                        문의사항은 <a href="http://#domain/customer/faq/list" style="text-decoration:underline; font-weight:bold; color:#999;">고객센터</a>를 이용해 주시기 바랍니다.
                      </td>
                    </tr>
                    <tr><td style="font-size:0; line-height:0;" height="70">&nbsp;</td></tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table cellpadding="0" cellspacing="0" border="0" width="640" align="center" style="border-collapse:collapse; font-family:'맑은 고딕','Malgun Gothic', arial; margin:0 auto;">
                  <tbody>
                    <tr>
                      <td style="padding:25px 0 22px;">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" align="left" style="border-collapse:collapse; font-family:'맑은 고딕','Malgun Gothic', arial; vertical-align:top;">
                          <tbody>
                            <tr>
                              <td style="list-style:none; padding:0 3px 0 0; margin:0; font-size:15px; line-height:25px; font-family:'맑은고딕','Malgun Gothic','Dotum',arial; color:#959595; vertical-align:top;">*</td>
                              <td style="list-style:none; padding:0; margin:0; font-size:15px; line-height:25px; font-family:'맑은고딕','Malgun Gothic','Dotum',arial; color:#959595; letter-spacing:-0.05em; vertical-align:top;">본 메일은 발신전용으로 회신되지 않습니다.</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

</body>
</html>
